[app]
# keystone_url = http://192.0.2.1:5000/v2.0
# validations_url = http://192.0.2.1:8585/v1
# tripleo_api_url = http://192.0.2.1:5001/v1

[service]
# debug = False
# bind_host = localhost
# bind_port = 3000
