.modal {
  &.modal-routed {
    display: block;
    overflow: auto;
  }
  .modal-dialog {
    margin: 50px auto;
    .nav-tabs {
      font-size: 12px;
      padding: 15px 15px 0 15px;
    }
    .modal-body {
      .nav-tabs {
        padding: 0;
        margin-bottom: 15px;
      }
    }
    .modal-body.loader {
      padding: 30px 15px;
    }
  }
}
