.nav-arrows {
  > li {
    &.active {
      &:after {
        border: 10px solid transparent;
        border-bottom-width: 20px;
        border-left-color: @nav-pills-active-link-hover-bg;
        border-right-width: 0;
        border-top-width: 20px;
        content: '';
        height: 0;
        position: absolute;
        right: -10px;
        top: 0;
        width: 0;
      }
      .tab-action, &:hover {
        color: #fff;
      }
    }
    > a {
      padding-right: 30px;
    }
  }
  .tab-action {
    color: @link-color;
    font-size: @font-size-large;
    position: absolute;
    right: 12px;
    top: 12px;
    &:hover {
      color: @link-hover-color;
    }
  }
}

// Actions bar above nav-stacked
.nav-stacked-actions {
  border-bottom: 1px solid @nav-tabs-border-color;
  margin: 0 0 15px;
  padding: 0 0 15px 0;
}
