// @import "utils/bootstrapAndOverrides";

@import "../../node_modules/patternfly/less/patternfly-additions.less";
@import "../../node_modules/patternfly/less/patternfly.less";
@import "../../node_modules/patternfly/less/navbar.less";
@import "../../node_modules/patternfly/less/navbar-alt.less";

@import "utils/variables";

@import "forms/Forms";
@import "components/NodeStack";
@import "components/NodePicker";
@import "components/NotificationList";
@import "components/Notification";

.wrapper-fixed-body {
  padding-top: @header-height;
  padding-bottom: @footer-height;
}

.wrapper-footer {
  background-color: #030303;
  color:#999;
  font-size: 11px;
  line-height: 17px; // whole px unit to avoid height differences among browsers
  padding-left: 25px;
  padding-top: 10px;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 1030;
}

.panel.flavor-panel > .panel-body{
  padding-bottom: 0;
}

.role-panel-mixin(@colour) {
  border-color: @colour;
  & > .panel-heading {
    background-color: lighten(@colour, 25%);
    border-bottom-color: @colour;
    color: darken(@colour, 25%);
  }
  .node-stack .stack {
    background-color: lighten(@colour, 20%);
    border-color: @colour;
    color: darken(@colour, 25%);
  }
}

.panel.role-panel{
  text-align: center;
  margin-bottom: 15px;
  &.controller{ .role-panel-mixin(#fdc800); }
  &.compute{ .role-panel-mixin(#7bb544); }
  &.drop-zone-panel {
    border-style: dashed;
    & > .panel-heading {
      background: transparent;
      border-bottom-style: dashed;
    }
    & > .panel-body {
      line-height: 40px;
    }
  }
}

