.wrapper-fixed-body {
  padding-top: @header-height;
  padding-bottom: @footer-height;
}

.wrapper-footer {
  background-color: #ededed;
  color: #999;
  font-size: @font-size-small;
  line-height: 17px;
}
.drawer-header {
  border-top: 2px solid #8b8d8f;
  height: @footer-height;

  &.content-open {
    border-bottom: 1px solid #bbbbbb;
  }
}

.drawer-toggle {
  color: @gray-pf;
  cursor: pointer;
  float: right;
  font-weight: @btn-font-weight;
  margin: 10px;
  &:before {
    color: #8b8d8f;
    content: "\f103";
    font-family: @icon-font-name-fa;
    font-size: 18px;
    margin-right: 5px;
    vertical-align: 0;
  }
  &:focus {
    outline: none;
    text-decoration: none;
  }
  &:hover {
    text-decoration: none;
  }
  &.collapsed:before {
    content: "\f102";
    margin-left: 4px;
    margin-right: 7px;
  }
}

.drawer-nav {
  border-bottom-color: transparent;
  float: left;
  font-size: 12px;
  font-weight: 400;

  li {

    .hidden {
      display: none;
    }

    a {
      background-color: transparent;
      color: @nav-pf-vertical-alt-color;
      cursor: pointer;
      padding: @navbar-pf-navbar-navbar-brand-padding;
      padding: 8px 15px;

      &:hover {
        color: @link-color;
      }
      &:focus:before, &:hover:before {
        display: none;
      }
    }

    &.active {
      a {
        background-color: @nav-pf-vertical-alt-bg-color;
        color: @nav-pf-vertical-alt-active-color;

        &:focus:before, &:hover:before {
          display: block;
        }
      }
    }
  }

  &.drawer-collapsed > li > a {
    padding-left: 0;
  }

  .indicator {
    font-size: 13px;
    margin-left: 10px;

    .indicator-title {
      font-weight: 700;
    }

    .indicator-category {
      margin-left: 10px;
    }

    .badge {
      &.unread {
        background-color: @gray-darker;
        color: #fff;
      }
      &.running {
        background-color: @gray-darker;
        color: #fff;
      }
      &.error {
        background-color: @brand-danger;
        color: #fff;
      }
      &.warning {
        background-color: @brand-warning;
        color: #fff;
      }
      &.available {
        background-color: @brand-info;
        color: #fff;
      }
    }
  }

  .separator {
    width: 1px;
    height: @footer-height;
    border: 0;
    border-left: solid 1px #bbbbbb;

    &.hidden {
      display: none;
    }
  }
}

.drawer-content {
  background: #fff;
  display: block;
  height: 350px;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 100;

  &.collapsed {
    display: none;
  }
}

