.validations-indicator {
  &:focus {
    outline: none;
  }
  .status-indicator {
    color: #000;
    &:focus {
      background-color: transparent;
    }
  }
  .validations-icon.pficon, .validations-icon.fa {
    &:before {
      color: #fff;
    }
  }
}

.validation-stages-container {
  margin-bottom: 0;
  margin-top: -20px;
}

.validation-stage-panel-heading {
  .panel-title {
    float: left;
    font-size: 12px;
    line-height: @line-height-base;
    padding-top: @padding-base-vertical;
    padding-bottom: @padding-base-vertical;
  }

  .states {
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
  }

  .status-container {
    display: inline-block;
    margin-left: 10px;

    .badge {
      color: #fff;
      &.unread {
        background-color: @gray-darker;
      }
      &.running {
        background-color: @gray-darker;
      }
      &.error {
        background-color: @brand-danger;
      }
      &.warning {
        background-color: @brand-warning;
      }
      &.available {
        background-color: @brand-info;
      }
      &.success {
        background-color: @brand-success;
      }
    }
  }
}

.validation {
  border-bottom: solid 1px @card-pf-border-color;
  border-right: solid 1px @card-pf-border-color;
  display: block;
  padding: 15px;
  position: relative;

  .validation-content {
    position: relative;
    width: 100%;

    .validation-icon {
      font-size: 18px;
      position: absolute;

      &.pficon-flag {
        color: @brand-primary;
      }
      &.pficon-ok:before {
        color: @brand-success;
      }
    }

    .validation-info-container {
      display: block;
      margin-left: 25px;
      margin-right: 65px;
      position: relative;

      .validation-message {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &.no-message {
          visibility: hidden;
        }
      }

      .details-link {
        &.no-details {
          visibility: hidden;
        }
      }
    }

    .validation-action-button-container {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}
