.validations-indicator {
  &:focus {
    outline: none;
  }
  .status-indicator {
    color: #000;
    &:focus {
      background-color: transparent;
    }
  }
  .validations-icon.pficon, .validations-icon.fa {
    &:before {
      color: #fff;
    }
  }
}

.validation-stage-heading {
  .panel-title {
    margin-top: 5px;
  }
}

.validation-stage-title {
  cursor: pointer;
  float: left;
}

.validation-stage-content {
  border-bottom: solid 1px #D1D1D1;
  display: none;
  padding-bottom: 0;

  &.opened {
    display: block;
  }
}

.validation {
  border: solid 1px #D1D1D1;
  padding-top: 5px;
  padding-bottom: 5px;

  .validation-icon {
    &.pficon-flag {
      color: @brand-primary;
    }
    &.pficon-ok:before {
      color: #333;
    }
  }

  .validation-name {
    color: #333;
    font-size: 12px;
    padding-left: 5px;
  }

  .validation-message {
    padding-left: 15px;
  }

  .details-link {
    color: #0099d3;
    cursor: pointer;
    margin-left: 15px;
    visibility: hidden;

    &.available {
      visibility: visible;
    }
  }
}
